<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  class="container">

  <br>

  <ion-item class="justify">
  <p></p><ion-img id="imgalfa" src="\assets\imagens\alfabeto.jpg"></ion-img>
</ion-item>
 <br>
  <div id="alinhamento">

  <ion-button color="danger" (click)="LetraA()" size="large" >A</ion-button>
  <ion-button color="primary" (click)="LetraB()" size="large">B</ion-button>
  <ion-button  color="secondary" (click)="LetraC()"size="large" >C</ion-button>
  <ion-button color="tertiary" (click)="LetraD()" size="large">D</ion-button>
  </div>

  <div id="alinhamento">
    <ion-button color="success" (click)="LetraE()" size="large">E</ion-button>
  <ion-button  color="warning" (click)="LetraF()"size="large">F</ion-button>
  <ion-button color="danger" (click)="LetraG()" size="large">G</ion-button>
  <ion-button  color="dark" (click)="LetraH()"size="large">H</ion-button>
  </div>
  <div id="alinhamento">
  <ion-button  color="medium"(click)="LetraI()" size="large">I</ion-button>
  <ion-button  color="light" (click)="LetraJ()"size="large">J</ion-button>
  <ion-button  color="danger" (click)="LetraK()"size="large">K</ion-button>
  <ion-button   color="primary"(click)="LetraL()"size="large">L</ion-button>
  </div>
  <div id="alinhamento">
  <ion-button  color="secondary" (click)="LetraM()"size="large">M</ion-button>
  <ion-button  color="tertiary" (click)="LetraN()"size="large">N</ion-button>
  <ion-button  color="success" (click)="LetraO()"size="large">O</ion-button>
  <ion-button  color="warning" (click)="LetraP()"size="large">P</ion-button>
  </div>
  <div id="alinhamento">
  <ion-button  color="danger" (click)="LetraQ()"size="large">Q</ion-button>
  <ion-button color="dark"  (click)="LetraR()" size="large">R</ion-button>
  <ion-button  color="medium" (click)="LetraS()" size="large">S</ion-button>
  <ion-button   color="light" (click)="LetraT()" size="large">T</ion-button>
  </div>
  <div id="alinhamento">
  <ion-button  color="danger" (click)="LetraU()" size="large">U</ion-button>
  <ion-button  color="primary" (click)="LetraV()"size="large">V</ion-button>
  <ion-button  color="secondary" (click)="LetraW()"size="large">W</ion-button>
  <ion-button  color="tertiary"(click)="LetraX()" size="large">X</ion-button>
  </div>
  <div id="alinhamento">
  <ion-button color="success"  (click)="LetraY()" size="large">Y</ion-button>
  <ion-button  color="warning"(click)="LetraZ()" size="large">Z</ion-button>
  </div>


</ion-content>

