

.button {
  border: none;
  color: white;
  padding: 8px 8px;
  display: inline-block;
  font-size: 22px;
  border-radius: 12px;
}

#alinhamento{
  display:flex;
justify-content:space-around;
}

#imgalfa{
  height: 10vh;
  width: 90%;
  text-align: center;
}

