<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

 <ion-img class="wrapper-img" src='\assets\cores\preto.png'></ion-img>

<br>
<div style="padding: 20px; text-align: center;">
<h2 class="letra">Preto</h2><ion-button size="large" (click)="corPreto()"><ion-icon name="volume-high-outline"></ion-icon></ion-button>
</div>
<br>


<div  id=alinhament>
<div style="padding: 70px; text-align: right;">
 <ion-button id="alin-back" color="success"  (click)=" letsback()"><ion-icon name="arrow-back"></ion-icon></ion-button>
</div>
 <div style="padding:70px; text-align: left;">
  <ion-button id="alin-go" color="success"  (click)=" letsGo()"><ion-icon name="arrow-forward"></ion-icon></ion-button>
</div>
</div>




</ion-content>
